.window {
	background-color: #e4f1f7;
	width: 100%;
	height: calc(100% - 1px);
}

.background {
	height: 82px;
	width: 100%;
	background: url("../assets/wlm/godrays.png"), #3dafe4;
	background-position: top left;
	background-size: 100% 100%, 100% 100%;
	box-shadow: inset 0px 22px 5px -20px rgba(0, 0, 0, 0.438);
}

.divider {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.75) 26%,
		rgba(255, 255, 255, 1) 41%,
		rgba(255, 255, 255, 1) 57%,
		rgba(255, 255, 255, 0.7477064220183487) 70%,
		rgba(255, 255, 255, 0) 100%
	);
	height: 1px;
	width: 100%;
	filter: drop-shadow(0px 2px 1px rgba(37, 91, 116, 0.459));
	margin-bottom: 12px;
}

.pfpBorder {
	position: relative;
}

.borderDummy1,
.borderDummy2 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	opacity: 0;
}

.pfp {
	background-color: rgb(255, 255, 255);
	position: absolute;
	left: 19px;
	top: 14px;
	width: 46px;
	border-radius: 2px;
}

.buttons {
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.buttons button {
	width: fit-content;
}

.topInfo {
	display: flex;
	align-items: center;
}

.userInfo {
	margin-top: -12px;
	margin-left: 4px;
	width: calc(100% - 150px);
}

.usernameContainer {
	border-radius: 2px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 24px;
	padding: 0px 4px 4px 4px;
	margin-left: -4px;
	max-width: fit-content;
}

.usernameContainer:hover {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.39220183486238536) 45%,
		rgba(152, 183, 216, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 0px 1px #fff;
	outline: solid thin #6092a9;
}

.usernameContainer:active,
.usernameContainer[data-toggled="true"] {
	background: linear-gradient(
		180deg,
		rgba(236, 247, 255, 0.568) 0%,
		rgba(189, 189, 189, 0.392) 45%,
		rgba(93, 122, 153, 0.747) 45%,
		rgba(255, 255, 255, 0.322) 100%
	);
	box-shadow: inset 0px 0px 6px 0px #0000008e;
	outline: solid thin #475257;
}

.usernameContainer > img {
	margin-left: 12px;
	margin-top: 4px;
}

.username {
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
}

.message {
	color: #333333;
	text-shadow: 0px 0px 3px rgb(255, 255, 255), 0px 0px 4px rgb(255, 255, 255),
		0px 0px 5px rgb(255, 255, 255);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 8px;
}

.contextMenu {
	width: 268px;
	height: fit-content;
	position: absolute;
	background-color: #f0f0f0;
	z-index: 9999999;
	outline: solid thin #a0a0a0;
	box-shadow: 6px 6px 4px -2px #00000085;
	opacity: 0;
	box-sizing: border-box;
	padding: 2px;
}

.nameContextMenu {
	margin-top: 26px;
	margin-left: -4px;
}

.contextMenuItem {
	height: 20px;
	margin-bottom: 1px;
	display: flex;
	align-items: center;
	font-size: 12px;
	box-sizing: border-box;
	padding-bottom: 1px;
	position: relative;
}

.contextMenuItem:hover {
	background-color: #3399ff;
	color: #fff;
}

.contextMenuText {
	position: absolute;
	left: 24px;
}

.contextMenuIconContainer {
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	padding: 12px;
}
