.window {
	display: flex;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.board {
	display: flex;
}

.shittyLowQualityExplosionGifLoss {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

.shittyLowQualityExplosionGifWin {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;
}

.main {
	margin-left: 16px;
	margin-top: 4px;
}

.users {
	margin-top: 16px;
}

.disappointment {
	color: #888;
	font-size: 8pt;
	transform: skewX(-15deg);
}

.user {
	color: #0066dd;
	text-decoration: none;
	cursor: pointer;
}

.user:hover {
	text-decoration: underline;
}

.username {
	opacity: 50%;
	font-size: 9pt;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100% !important;
	text-align: center;
	box-sizing: border-box;
	padding: 0px 4px;
}

.info {
	width: calc(100% - 4px);
	height: 48px;
	border-top: solid 2px #808080;
	border-left: solid 2px #808080;
	border-right: solid 2px #fff;
	border-bottom: solid 2px #fff;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
