.container {
	padding: 6px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: center;
	margin-right: 96px;
}

.formGroup {
	/* table */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}
.formGroup > label {
	/* td */
	width: 100px;
	text-align: right;
}

.send {
	position: absolute;
	bottom: 12px;
	right: 12px;
}
