.selectButton {
	text-align: left;
	padding: 4px 8px;
	height: 24px;
	display: flex;
	align-items: center;
	width: fit-content;
}

.selectButton[aria-pressed="true"]::after {
	opacity: 1;
}

.selectContainer {
	display: inline-block;
}

.selectMenu {
	width: fit-content;
	display: inline-block;
	position: absolute;
	background-color: white;
	box-shadow: 2px 2px 2px 0cqi #00000095;
	outline: solid thin #c6c7d2;
}

.selectMenu > div {
	padding: 1px 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selectMenu > div:hover {
	background-color: #3399ff;
	color: white;
}
