:root {
	--button-gradient: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.688) 0%,
		rgba(255, 255, 255, 0.357) 41%,
		rgba(124, 124, 124, 0.123) 41%,
		rgba(58, 58, 58, 0.185) 100%
	);
}

@keyframes windowOpen {
	0% {
		opacity: 0.3;
		transform: perspective(200px) rotateX(0.75deg) translateY(-5px) scale(0.985);
	}
	100% {
		opacity: 1;
		transform: perspective(200px) rotateX(0deg) rotateY(0deg) translateY(0px)
			scale(1);
	}
}

@keyframes windowClose {
	0% {
		opacity: 1;
		transform: perspective(200px) rotateX(0deg) rotateY(0deg) translateY(0px)
			scale(1);
	}
	100% {
		opacity: 0;
		transform: perspective(200px) rotateX(1deg) translateY(-8px) scale(0.955);
	}
}

.windowFrame {
	animation: 0.5s windowOpen cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: center center;
	transform: none;
	width: 800px;
	height: 600px;
	position: absolute;
	box-shadow:
		0px 0px 15px 2px #000000c3,
		inset 0px 0px 0px 1px var(--aero-black),
		inset 0px 0px 0px 2px #d9e2eb;
	/* overflow: hidden; */
	background: linear-gradient(
			-139deg,
			rgba(135, 173, 190, 0.47) 0%,
			rgba(0, 0, 0, 0) 25%
		),
		var(--aero-accent);
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 0;
	backdrop-filter: blur(3px);
}

.windowFrameGradientLeft {
	background: linear-gradient(
		139deg,
		rgba(255, 255, 255, 0.568) 0%,
		rgba(255, 255, 255, 0.192) 25%,
		rgba(0, 0, 0, 0) 50%
	);
	width: 256px;
	height: 256px;
	position: absolute;
	left: 0;
	border-top-left-radius: 6px;
}

.windowFrameGradientRight {
	background: linear-gradient(
		-139deg,
		rgba(255, 255, 255, 0.315) 0%,
		rgba(255, 255, 255, 0.192) 25%,
		rgba(0, 0, 0, 0) 50%
	);
	width: 256px;
	height: 256px;
	position: absolute;
	right: 0;
	border-top-right-radius: 6px;
}

.windowClosing {
	animation: 0.4s windowClose cubic-bezier(0.19, 1, 0.22, 1);
}
.windowFrame.unfocused {
	box-shadow:
		0px 0px 20px 0px #0000006f,
		inset 0px 0px 0px 1px var(--aero-black),
		inset 0px 0px 0px 2px #d9e2eb;
}

.windowFrame.unfocused {
	background-color: transparent;
}

.windowFrame.unfocused .windowButton:not(:hover) {
	background: transparent !important;
}

.contentsContainer {
	padding: 6px;
	padding-top: 28px;
	width: calc(100% - 6px * 4);
	height: calc(100% - 6px * 4 - 44px);
	position: absolute;
}

@keyframes fullscreen-indicator {
	0% {
		opacity: 0;
		scale: 0;
	}
	50% {
		opacity: 1;
		scale: 1;
	}
	100% {
		opacity: 0;
		scale: 2;
	}
}

.fullscreenIndicator {
	pointer-events: none;
	background-image: url("../assets/window/resize.png");
	position: absolute;
	width: 64px;
	height: 64px;
	background-size: contain;
	z-index: 999999999999999;
	animation: fullscreen-indicator 0.25s linear forwards;
}

.windowFrame.fullscreen > .handle {
	pointer-events: none;
}

.windowFrame.fullscreen > .contentsContainer {
	padding: 1px;
	padding-top: 20px;
	width: calc(100% - 1px * 4);
	height: calc(100% - 2px * 4 - 32px);
}

.windowFrame.fullscreen .windowFrameGradientRight {
	border-radius: 0px;
}

.windowFrame.fullscreen .windowFrameGradientLeft {
	border-radius: 0px;
}

.windowFrame.fullscreen > .contentsContainer > .windowContents {
	box-shadow: inset 0px 0px 0px 1px var(--aero-black);
	border: none;
	border-top: solid thin #cadfed;
}

.windowFrame.fullscreen {
	border-radius: 0px;
	box-shadow: none;
	background-position: 0px 0px !important;
}

.windowFrame.fullscreen > .titleBar {
	height: 20px;
}

.windowFrame.fullscreen > .titleBar > .windowTitle {
	font-size: 12px;
}

.windowFrame.fullscreen > .titleBar > .windowIcon {
	margin-left: -6px;
}

.windowFrame.fullscreen > .windowFrameBg {
	border-radius: 0px;
}

.windowFrame.fullscreen > .windowFrameFg {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	outline: none;
}

.windowFrame.fullscreen > .titleBar > .buttonContainer {
	right: 0px;
}

.windowFrame.fullscreen .link {
	top: 1px;
	right: calc(152px - 17px);
}

.windowContents {
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-black);
	border: solid thin #cadfed;
	position: absolute;
	z-index: 999;
	background-color: #f6f9fd;
	width: 100%;
	height: 100%;
	padding: 1px 1px 0px 1px;
}

.titleBar {
	display: flex;
	align-items: center;
	padding: 0px 8px;
	flex-direction: row;
	width: calc(100% - 17px);
	position: absolute;
	height: 28px;
	z-index: 1000;
	border-radius: 6px 6px 0px 0px;
	overflow: hidden;
}

.windowIcon {
	margin-top: 1px;
	margin-right: 6px;
	width: 16px;
	margin-left: 1px;
	filter: drop-shadow(0px 0px 8px #fff);
}

.windowTitle {
	pointer-events: none;
	font-size: 9pt;
	width: calc(100% - 140px);
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	overflow: hidden;
	padding: 6px 16px;
	left: -16px;
	text-shadow:
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff,
		0px 0px 16px #ffffff;
}

.windowButtons {
	display: flex;
	border-radius: 4px;
	border: solid thin #d9e2eb;
	border-top: none;
	position: relative;
}

.windowButton:first-child {
	border-bottom-left-radius: 4px;
}

.windowButton:last-child {
	border-bottom-right-radius: 4px;
}

.windowButton {
	position: relative;
	height: 18px;
	margin-top: 1px;
	background: var(--button-gradient);
	width: 28px;
	border: solid thin var(--aero-black);
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	border-top: none;
	transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	image-rendering: pixelated;
}

.windowButton:hover {
	box-shadow:
		inset 0px 0px 0px 1px var(--aero-white),
		0px 0px 15px 10px #61cdfb5b;
	background: linear-gradient(
		180deg,
		rgba(183, 218, 242, 1) 0%,
		rgba(155, 202, 230, 1) 41%,
		rgba(39, 160, 201, 1) 41%,
		rgba(34, 167, 177, 1) 100%
	) !important;
}

.windowButton:active {
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(161, 187, 204, 1) 0%,
		rgba(94, 147, 170, 1) 41%,
		rgba(13, 76, 102, 1) 41%,
		rgba(18, 202, 189, 1) 100%
	) !important;
}

.windowButton:not(:first-child) {
	margin-left: -1px;
}

.windowButton.close {
	width: 48px;
	background: linear-gradient(
		180deg,
		rgba(216, 162, 159, 1) 0%,
		rgba(186, 113, 110, 1) 41%,
		rgba(164, 57, 47, 1) 41%,
		rgba(200, 118, 97, 1) 100%
	);
}

.windowButton.close:hover {
	box-shadow:
		inset 0px 0px 0px 1px var(--aero-white),
		0px 0px 15px 10px #fda0899b;
	background: linear-gradient(
		180deg,
		rgba(230, 152, 140, 1) 0%,
		rgba(215, 109, 93, 1) 41%,
		rgba(164, 25, 6, 1) 41%,
		rgba(230, 148, 47, 1) 94%,
		rgba(245, 232, 119, 1) 99%
	) !important;
}

.windowButton.close:active {
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(211, 170, 148, 1) 0%,
		rgba(180, 119, 93, 1) 41%,
		rgba(134, 22, 0, 1) 41%,
		rgba(140, 105, 30, 1) 81%,
		rgba(237, 199, 44, 1) 100%
	) !important;
}

.windowFrame.fullscreen .windowButton.maximize::after {
	background-image: url("../assets/window/unmaximize-icon.png");
}

.windowButton::after {
	width: 100%;
	height: 100%;
	position: absolute;
	content: "";
}

.windowButton.close::after {
	background: url("../assets/window/close-icon.png") no-repeat center center;
}

.windowButton.maximize {
	background: var(--button-gradient);
}

.windowButton.maximize::after {
	background: url("../assets/window/maximize-icon.png") no-repeat center center;
}

.windowButton.minimize {
	background: var(--button-gradient);
}

.windowButton.minimize::after {
	background: url("../assets/window/minimize-icon.png") no-repeat center center;
}

.buttonContainer {
	position: absolute;
	right: calc(24px - 17px);
	box-sizing: border-box;
	top: 0px;
	background: #ffffff36;
	border-radius: 5px;
}

@keyframes fullscreen-preview-anim {
	0% {
		visibility: visible;
	}
	100% {
		width: 100%;
		height: 100%;
		margin-top: 0;
		margin-left: 0;
		visibility: visible;
	}
}

.scaleTo100 {
	transition: none;
	animation: 0.15s linear fullscreen-preview-anim forwards;
}

.fade {
	opacity: 0;
}

.leftHandle {
	height: 100%;
	width: 8px;
	position: absolute;
	z-index: 10000;
	cursor: url("/cursors/horizontal.cur"), auto;
}

.rightHandle {
	height: 100%;
	width: 8px;
	right: 0;
	position: absolute;
	z-index: 10000;
	cursor: url("/cursors/horizontal.cur"), auto;
}

.topHandle {
	top: 0;
	width: calc(100% - 118px);
	height: 8px;
	position: absolute;
	z-index: 10000;
	cursor: url("/cursors/vertical.cur"), auto;
}

.bottomHandle {
	bottom: 0;
	width: 100%;
	height: 8px;
	position: absolute;
	z-index: 10000;
	cursor: url("/cursors/vertical.cur"), auto;
}

.topLeft {
	top: 0;
	left: 0;
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 10001;
	cursor: url("/cursors/diagonal-left.cur"), auto;
}

.topRight {
	top: 0;
	right: 0;
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 10001;
	cursor: url("/cursors/diagonal-right.cur"), auto;
}

.bottomLeft {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 10001;
	cursor: url("/cursors/diagonal-right.cur"), auto;
}

.bottomRight {
	bottom: 0;
	right: 0;
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 10001;
	cursor: url("/cursors/diagonal-left.cur"), auto;
}

.minimized {
	display: none;
}

.link {
	color: rgb(255, 255, 255);
	width: fit-content;
	height: fit-content;
	white-space: nowrap;
	text-decoration: underline;
	text-align: right;
	position: absolute;
	top: 6px;
	right: 152px;
}
