* {
	font-family: "Segoe UI", sans-serif;
	user-select: none;
	-webkit-user-drag: none;
	font-size: 9pt;
}

*::selection {
	background-color: #3399ff;
	color: white;
}

:root {
	--accent: #434444;
	--accent-window: color-mix(in srgb, var(--accent) 30%, #00145b);
	--aero-white: #ffffff7a;
	--aero-black: #000000bd;
	--aero-accent: color-mix(in srgb, var(--accent-window) 50%, transparent);
}

body {
	overflow: hidden;
	background: url("./assets/bg.jpg") center center / cover no-repeat fixed;
	margin: 0;
	cursor: url("/cursors/default.cur"), auto;
}

h1,
h2 {
	font-size: 12pt;
	color: #003399;
	letter-spacing: -0.2px;
	font-family: "Segoe UI";
	margin: 0;
	font-weight: normal;
}

.taskbar {
	z-index: 999999999999999999;
	position: absolute;
	bottom: 0;
	height: 40px;
	width: 100vw;
}

.taskbar.fg {
	background: url("./assets/window/glass.png") center center / cover no-repeat
		fixed;
	outline: solid thin var(--aero-black);
	box-shadow: inset 0px 1px 0px 0px var(--aero-white);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.taskbar.bg {
	background-color: var(--aero-accent);
	backdrop-filter: blur(3px);
}

.left {
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right {
	position: absolute;
	right: 0;
}

.checkbox {
	position: relative;
}

.checkbox::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 0.5s all;
}

.checkbox[aria-checked="false"] {
	background-image: url("./assets/checkbox/unchecked_enabled.png");
	width: 13px;
	height: 13px;
}

.checkbox[aria-checked="false"]:hover::after {
	background: url("./assets/checkbox/unchecked_hover.png");
}

.checkbox:hover::after {
	opacity: 1;
}

.checkbox[aria-checked="false"]:active::after {
	background-image: url("./assets/checkbox/unchecked_pressed.png");
}

.start-button {
	width: 0px;
	height: 48px;
	position: relative;
}

.start-button > * {
	position: absolute;
}

.start-normal {
	opacity: 1;
}

.start-hover {
	opacity: 0;
	transition: 0.3s linear opacity;
}

.start-hover:hover {
	opacity: 1;
}

.start-active {
	opacity: 0;
}

.pressed {
	opacity: 1;
}

.pressed ~ .start {
	opacity: 0 !important;
	transition: none;
}

.taskbar-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		141deg,
		#ffffffe9 0%,
		#ded6d6ac 40%,
		#c4c4c485 50%,
		#c5c0c091 80%
	);
	width: 56px;
	height: 40px;
	outline: solid thin var(--aero-black);
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	border-radius: 4px;
	position: relative;
}

.taskbar-icon > img {
	width: 36px;
}

.taskbar-icon-activity {
	width: auto !important;
	position: absolute;
	bottom: 2px;
	right: 10px;
}

.taskbar-icons {
	display: flex;
	gap: 4px;
	margin-left: 64px;
}

.fullscreen-preview-container {
	position: absolute;
	width: 100%;
	height: calc(100% - 40px);
	box-sizing: border-box;
	padding: 8px;
	pointer-events: none;
}

.fullscreen-preview {
	background: url("./assets/window/glass.png") center center / cover no-repeat
		fixed;
	background-size: 150%;
	width: 0px;
	height: 0px;
	border-radius: 6px;
	border: solid thin var(--aero-black);
	box-shadow: inset 0px 0px 0px 1px var(--aero-white), 0px 0px 15px -1px #000;
	transition: linear all 0.25s;
	visibility: hidden;
	pointer-events: none;
}

.window-content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

button {
	outline: none;
	border: solid thin #707070;
	border-radius: 4px;
	min-width: 60px;
	padding: 2px 12px;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
	background: linear-gradient(
		180deg,
		rgba(242, 242, 242, 1) 0%,
		rgba(235, 235, 235, 1) 40%,
		rgba(221, 221, 221, 1) 40%,
		rgba(207, 207, 207, 1) 100%
	);
	position: relative;
	z-index: 1;
	transition: opacity 0.35s linear;
}

button:hover {
	border: solid thin #3c7fb1;
}

button::before {
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(234, 246, 253, 1) 0%,
		rgba(217, 240, 252, 1) 40%,
		rgba(190, 230, 253, 1) 40%,
		rgba(167, 217, 245, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.35s linear;
	opacity: 0;
	border-radius: 3px;
}
button:hover::before {
	opacity: 1;
}

button::after {
	box-shadow: inset 0px 0px 0px 1px #95ade474;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(229, 244, 252, 1) 0%,
		rgba(196, 229, 246, 1) 40%,
		rgba(152, 209, 239, 1) 40%,
		rgba(104, 179, 219, 1) 100%
	);
	z-index: -1;
	transition: opacity 0.1s linear;
	opacity: 0;
	border-radius: 3px;
}

button:active::after {
	opacity: 1;
}

input[type="text"] {
	border-top: solid thin #abadb3;
	border-left: solid thin #e2e3ea;
	border-bottom: solid thin #e3e9ef;
	border-right: solid thin #dbdfe6;
	outline: none;
	box-shadow: inset 0px 0px 0px 1px var(--aero-white);
}

input[type="text"]::placeholder {
	font-style: italic;
	color: #6d6d6d;
}

.select {
	background-color: rgba(23, 124, 224, 0.322);
	border: solid thin #3399ff;
	position: absolute;
	transform-origin: top left;
	visibility: hidden;
}

.desktop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}
